p {margin-bottom: 0.5em;}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}
.hidden-visibly {
    top: 0;
    left: 9999px;
    position: absolute;
}

.main {
    margin: auto 50px;
}

.flash {
    display: none;
}
.flash a.close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid;
    text-align: center;
}
.alert a.close:hover {
    background-color: #f4d7d8;
}

.filters {
    width: 500px;
    margin: auto;
}

.filters fieldset {
    margin-bottom: 5px;
}

.clearDiv {
    clear: both;
}

.playerFilter {
    -ms-column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.playerFilter li {
    max-width: 220px;
    overflow: hidden;
    white-space: nowrap;
}
.playerFilter li:first-child {
    font-style: italic;
}

.progress {
    display: block;
    margin: auto;
    width: 500px;
}

.tablesorter {
    display: table;
}

.mainTable {
    border-collapse: collapse;
    clear: both;
    width: 100%;
}
.mainTable th {
    font-size: smaller;
    text-align: left;
    white-space: nowrap;
}
.mainTable th,
.mainTable td {
    padding: 0.5em;
}
.mainTable th:first-child,
.mainTable td:first-child {
    width: 50%;
}
.mainTable th:last-child ,
.mainTable td:last-child {
    width: 4em;
}
.mainTable td:last-child {
    text-align: right;
}

.achievement-name {
    display: block;
}
.achievement-desc {
    font-size: smaller;
}

.earnedUnearnedList li {
    cursor: pointer;
    padding: 0;
    margin: 4px;
}
.earnedUnearnedList .avatar:before {
    border-width: 2px;
    border-style: solid;
}
.earnedUnearnedList {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.hideearned .earned,
.hideunearned .unearned,
.hideTest .testAchievement {
    display: none;
}

.player:before {
    background-size: 16px;
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 0.3em;
}

.avatarOnly li {
    display: inline-block;
}
.avatarOnly .player:before {
    background-size: 32px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    height: 32px;
    width: 32px;
    padding-right: 0;
}
.avatarOnly .player * {
    display: none;
}
.avatarOnly .earned .player:before {
    opacity: 0.5;
}

.achievements,
.tableFormat {
    margin-bottom: 1em;
    width: 215px;
}
.achievements {
    float: left;
}
.tableFormat {
    float: right;
}
.special {
    width: 162px;
}

.timeProfile {
    text-align: right;
    font-style: italic;
    margin-right: 20px;
}
