body {
    background-color: #333333;
    color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}
p {margin-bottom: 0.5em;}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

abbr[title] {
    border-bottom: 1px dashed silver;
}

.main {
    margin: auto 50px;
    min-width: 500px;
    max-width: 985px;
}

.flash {
    display: none;
}
.flash a.close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid;
    text-align: center;
}
.flash.alert a.close:hover {
    background-color: #f4d7d8;
}

.filters {
    width: 500px;
    margin: auto;
}

.filters fieldset {
    margin-bottom: 5px;
}

.clearDiv {
    clear: both;
}

.playerFilter {
    -ms-column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.playerFilter li {
    max-width: 220px;
    overflow: hidden;
    white-space: nowrap;
}
.playerFilter li:first-child {
    font-style: italic;
}

.progress {
    display: block;
    margin: auto;
    width: 500px;
}

.mainTable {
    border-collapse: collapse;
    clear: both;
}

.mainTable th,
.mainTable td {
    border: solid 1px black !important;
    padding: 0.5em !important;
}

/*.mainTable td:first-child {width:  60%;}*/
.mainTable td:first-child small {color: #bbbbbb;}

.earnedUnearnedList li {
    display: inline-block;
    padding: 0;
    margin: 4px;
    border-width: 2px;
    border-style: solid;
    max-height: 64px;
    max-width: 64px;
}

.earnedUnearnedList .playerAvatarSmall {
    display: none;
}

.mainTable.compact .earnedUnearnedList {
    max-height: 64px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.mainTable.compact .earnedUnearnedList li {
    margin-bottom: 0;
}

.mainTable.compact .earnedUnearnedList .playerAvatarSmall {
    display: list-item;
}

.mainTable.compact .earnedUnearnedList .playerAvatarMed {
    display: none;
}

.mainTable.textNames .earnedUnearnedList li {
    display: block;
    border-style: none;
    float: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.mainTable.textNames .earnedUnearnedList li img {
    display: none;
}

.earnedUnearnedList li p {
    margin: 0;
    display: none;
}

.mainTable.textNames .earnedUnearnedList li p {
     display: inline;
}


.earned {
    color: #00cc00;
    border-color: #00cc00;
}
.earned img {
    opacity: 0.5;
}
.unearned {
    color: #000080;
    border-color: #000080;
}

.mainTable td:last-child {
    text-align: right;
    width: 70px;
}

[data-hidetest=true],
[data-hideid=true],
[data-hidetype=true] {
    display: none;
}

li[data-hidetest=true],
li[data-hideid=true],
li[data-hidetype=true] {
    display: none;
}

.achievements,
.tableFormat {
    margin-bottom: 1em;
    width: 215px;
}
.achievements {
    float: left;
}
.tableFormat {
    float: right;
}
.special {
    width: 162px;
}

.timeProfile {
    text-align: right;
    font-style: italic;
    color: #555555;
    margin-right: 20px;
}

@media (max-width: 639px) {
    .mainTable td:nth-of-type(2) {
        width: 164px; /*two large avatar photos across*/
        max-width: 164px;
    }
}

@media (min-width: 640px) and (max-width: 1084px) {
    .mainTable td:nth-of-type(2) {
        width: 246px; /*three large avatar photos across*/
        max-width: 246px;
    }
}

@media (min-width: 1085px) {
    .main {
        margin: auto;
    }
    .mainTable td:nth-of-type(2) {
        width: 328px; /*four large avatar photos across*/
        max-width: 328px;
    }
}

/* tablesorter banded rows */
.tablesorter-grey td {
    background-color: inherit !important;
}
.tablesorter-grey tbody tr:nth-of-type(odd) {
    background-color: #5e5e5e;
}
.tablesorter-grey tbody tr:nth-of-type(even) {
    background-color: #6d6d6d;
}

