p {margin-bottom: 0.5em;}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden,
li[data-hideid='true'],
li[data-hidetype='true'] {
    display: none !important;
}

.main {
    margin: auto 50px;
}

.flash {
    display: none;
}
.flash a.close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid;
    text-align: center;
}
.alert a.close:hover {
    background-color: #f4d7d8;
}

.filters {
    width: 500px;
    margin: auto;
}
.filters fieldset {
    margin-bottom: 0.3em;
}

.clearDiv {
    clear: both;
}

.playerFilter {
    -ms-column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.playerFilter .player.perfect {
    color: deepskyblue;
}
.playerFilter li {
    max-width: 220px;
    overflow: hidden;
    white-space: nowrap;
}
.playerFilter li:first-child {
    font-style: italic;
}

.status:after {
    content: '';
    display: inline-block;
    width: 16px;
}
.status.loading:after {
    content: '\2026';
}
.status.loaded {
    cursor: pointer;
}
.status.loaded:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAAAsTAAALEwEAmpwYAAABoUlEQVQozz3Cz4vMYRzA8ffn+T77nZFmC7WbzLLh4ia0B5QSJaflsuugqLlwcSBHir24+ANGyknKRZxXyYaWnDb5USNm09JM86PxnZlnP8/ncdPrRZuO9LNAqIY7cTVuxFb8HB6FY4lAmItNBrRdn+Jq0SlSYUX6rz6YL1pFko6bMLvHTSIOIRLJgYQACaQNNR4wpsQ37rNCYB81zqM4BPGjaXcLKPE8X3TDkezAvrbPOhAEAR8X4gzQ4NJwuDX/HcZVXriD0chIKPhwBoA6HT/xVyexKj+0zX6mKePB624APoBaxXax9m5yfoYvJTfFLHupes0ATB3QowGiWTOWxzRnm7wGF5qBgB5SRq7FL/6klvZZd938UyWxJk5fKYpeLkpHNs0HKWSQdX1u4e7g5/u3gxvyZo+tMgU89DVQIeEwLvAYw7nr2cWeiZ22kc3pqbAh3ZTHA3bblkzN2/LxK7IinbTlCQsoGcIApUKG4lnnBI1sUbZLeKZ5PGqZJStZ2Zwly2w5ndv87p28BDG3Ge0w1+wkO3H03EfqPN1mhTj7B/xe3+2eik7RAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA3LTE3VDE2OjUyOjA5LTA0OjAwklIH/wAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNy0xN1QxNjo1MjowOS0wNDowMOMPv0MAAAAASUVORK5CYII=);
    height: 16px;
    width: 16px;
}

.mainTable {
    border-collapse: collapse;
    clear: both;
    margin-top: 1em;
    width: 100%;
}
.mainTable th {
    font-size: smaller;
    text-align: left;
    white-space: nowrap;
}
.mainTable th,
.mainTable td {
    padding: 0.5em;
}
.mainTable th:first-child,
.mainTable td:first-child {
    width: 50%;
}
.mainTable th:last-child ,
.mainTable td:last-child {
    width: 4em;
}
.mainTable td:last-child {
    text-align: right;
}

.achievement-name {
    display: block;
}
.achievement-desc {
    font-size: smaller;
}

.earnedUnearnedList li {
    cursor: pointer;
    padding: 0;
    margin: 4px;
}
.earnedUnearnedList .avatar:before {
    border-width: 2px;
    border-style: solid;
}
.earnedUnearnedList {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.hideearned .earned,
.hideunearned .unearned,
.hideTest .testAchievement {
    display: none;
}

.player:before {
    background-size: 16px;
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 0.3em;
}

.avatarOnly li {
    display: inline-block;
}
.avatarOnly .player:before {
    background-size: 32px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    height: 32px;
    width: 32px;
    padding-right: 0;
}
.avatarOnly .player span {
    display: none;
}
.avatarOnly .earned.player:before {
    opacity: 0.5;
}

.achievements,
.tableFormat {
    margin-bottom: 1em;
    width: 215px;
}
.achievements {
    float: left;
}
.tableFormat {
    float: right;
}

.timeProfile {
    font-style: italic;
    margin-right: 1em;
    margin-top: 1em;
    text-align: right;
}
