body {
    background-color: #333333;
    color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}
p {margin-bottom: 0.5em;}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

abbr[title] {
    border-bottom: 1px dashed silver;
}

.main {
    margin: auto;
    width: 725px;
}

#filters {
    width: 495px;
    margin: auto;
}

.clearDiv {
    clear: both;
}

.playerFilter {
    -ms-column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.playerFilter li:first-child {
    font-style: italic;
}

.mainTable {
    border-collapse: collapse;
}

.mainTable th,
.mainTable td {
    border: solid 1px black !important;
    padding: 0.5em !important;
}

.mainTable td:first-child {width: 475px;}
.mainTable td:first-child small {color: #bbbbbb;}

.earned {color: #00cc00;}
.unearned {color: #000080;}

.mainTable td:last-child {text-align: right;}

li[data-hideid=true],
li[data-hidetype=true] {
    display: none;
}

.achievements,
.special {
    float: left;
    width: 210px;
}

fieldset.special {
    float: right;
}

